.all {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    margin-inline: auto;
}

.pdcs {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

}

.gallery-item .image img.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
    transform: scale(1.5);
}

.product {
    background-color: red;
}

.product-title {
    padding-top: 15px;
    font-weight: bold;
}