/* .all {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin-inline: auto;
}

.pdcs {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
  border-radius: 20px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.gallery-item .image img.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.product-title {
  padding-top: 15px;
  font-size: 16px;
  color: black;
  font-weight: 700;
  text-transform: capitalize;
}

.rating {
  display: flex;
  align-items: center;
}

.rating i {
  color: #fa0;
  line-height: 22px;
  margin: 0 2px;
  font-size: 14px;
}

.rating .product-rate {
  margin-left: 8px;
  font-size: 12px;
  color: #fa0;
  font-weight: bold;
}

.price {
  font-size: 20px;
  color: black;
  font-weight: 700;
} */

.all {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin-inline: auto;
}

:root {
  --dark-blue: #111827;
  --Teal: #14b8a6;
}

.product {
  background: #f0f0f0;
  border: 0px solid #e5e7eb;
  border-radius: 15px;
  overflow: hidden;
}

.product-title h5,
.rating,
.no-products,
.product-price {
  color: var(--dark-blue, #111827);
  font-family: "Sarabun", sans-serif;
}

.product-name {
  padding-top: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  padding: 8px 0;
}

.rating,
.no-products {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.image-container {
  width: 100%;
  position: relative;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  border-radius: 15px;
  overflow: hidden;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.view-details-button {
  padding: 10px 48px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Teal, #14b8a6);
  color: white;
  font-family: "Sarabun", sans-serif;
  text-align: center;
  display: block;
  font-weight: 500;
  font-size: 14px;
  transition: background 0.3s;
}

.view-details-button:hover {
  background: var(--Teal, #11b6a3);
}
