<div class="all">
  <h1>Products</h1>
  <div *ngIf="products.length > 0">
    <h2>Products</h2>
    <ul class="pdcs">
      <li class="product" *ngFor="let product of products">
        <div
          *ngIf="product.productPicture && product.productPicture.length > 0"
        >
        <div class="gallery-item">
          <div class="image">
            <li *ngFor="let picture of product.productPicture">
              <img
                [src]="picture"
                alt="Product Image"
                [class.product-image]="true"
              />
            </li>
          </div>
        </div>

        </div>
        <div class="product-title">
          <p>{{ product.productName }}</p>
        </div>
        <p>Rate: {{ product.productRate }}</p>
        <p>Price: ${{ product.productPrice }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="products.length === 0">
    <p>No produ</p>
  </div>
</div>
