<h2>Add New Product</h2>
<form [formGroup]="newProductForm" (ngSubmit)="submit()">
  <div>
    <label>Product Name</label>
    <input type="text" formControlName="productName" required>
  </div>
  <div>
    <label>Product Price</label>
    <input type="number" formControlName="productPrice" required>
  </div>
  <div>
    <label>Select Category</label>
    <select formControlName="productCategory" required>
      <option value="6687cb2b42b33badb0a3aa4d">Controller</option>
      <option value="6687cb3342b33badb0a3aa4f">Keyboard</option>
      <option value="6687cb3942b33badb0a3aa51">Mouse</option>
      <option value="6687cb4142b33badb0a3aa53">PC</option>
      <option value="6687cb4642b33badb0a3aa55">Monitor</option>
    </select>
  </div>
  <div>
    <label>Product Color</label>
    <input type="text" formControlName="productColor" required>
  </div>
  <div>
    <label>Product Description</label>
    <textarea formControlName="productDescription" required></textarea>
  </div>
  <div>
    <label>Product Rate</label>
    <input type="number" formControlName="productRate" required min="0" max="5">
  </div>
  <div>
    <label>Product Stock</label>
    <input type="number" formControlName="productStock" required min="0">
  </div>
  <div>
    <button type="submit" [disabled]="!newProductForm.valid">Add Product</button>
  </div>
</form>
