<div class="categories-container">
    <h2 class="categories-title">CATEGORIES</h2>
    <div class="categories-content">
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 106.svg" alt="">
      </div>
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 107.svg" alt="">
      </div>
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 109.svg" alt="">
      </div>
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 110.svg" alt="">
      </div>
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 111.svg" alt="">
      </div>
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 112.svg" alt="">
      </div>
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 113.svg" alt="">
      </div>
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 114.svg" alt="">
      </div>
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 115.svg" alt="">
      </div>
      <div class="category-item">
        <img src="../../../assets/categorys/Frame 116.svg" alt="">
      </div>
    </div>
  </div>
  