.categories-container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.categories-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.categories-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-item {
    width: 18%;
    margin: 10px;
    margin-bottom: 30px;
    text-align: center;
    flex: 0 0 auto;
}

.category-item img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
