<div class="container">
  <div class="row">
    <div class="column">
      <div class="card" routerLink="/users">
        <h3>Users</h3>
        <p><u>View details</u> ></p>
      </div>
    </div>

    <div class="column">
      <div class="card" routerLink="/product">
        <h3>Products</h3>
        <p><u>View details</u> ></p>
      </div>
    </div>

    <div class="column">
      <div class="card" routerLink="/order">
        <h3>Orders</h3>
        <p><u>View details</u> ></p>
      </div>
    </div>

    <div class="column">
      <div class="card" (click)="redirectTo('http://localhost:4200/')">
        <h3>Shop</h3>
        <p><u>View details</u> ></p>
      </div>
    </div>
  </div>
</div>
