.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #111827;
  height: 48px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

a {
  color: #fafafa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  border-bottom: #111827 solid 2px;
}

a:hover {
  border-bottom: #fafafa solid 2px;
}
