<div class="container">
  <div class="imagecont">
    <img src="../../../assets/Logo/logo-green-white.png" alt="" />
  </div>
  <div class="rightcont">
    <div class="createaccount">
      <h1>Login</h1>
      <p>Enter your details below</p>
      <input type="text" placeholder="*Email" />
      <input type="text" placeholder="*Password" />
      <button>Create Account</button>
      <a href="/reset-password" class="forget">Forget Password?</a>
      <div class="login">
        <p>Already have an account?</p>
        <a href="/register">Register</a>
      </div>
    </div>
  </div>
</div>
