<div class="all">
    <h1>Products</h1>
    <div *ngIf="product.length > 0">
      <h2>Products</h2>
      <ul class="pdcs">
        <li class="product" *ngFor="let product of product">
          <div
            *ngIf="product.productPicture && product.productPicture.length > 0"
          >
            <div class="gallery-item">
              <div class="image">
                <li *ngFor="let picture of product.productPicture">
                  <img
                    [src]="picture"
                    alt="Product Image"
                    [class.product-image]="true"
                  />
                </li>
              </div>
            </div>
          </div>
          <div class="product-title">
            <p>{{ product.productName }}</p>
          </div>
          <div class="rating">
            <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fa fa-star-o"></i>
            <span class="product-rate">{{ product.productRate }}</span>
          </div>
          <p>
            <span class="price">${{ product.productPrice }}</span>
          </p>
        </li>
      </ul>
    </div>
    <div *ngIf="product.length === 0">
      <p>No produ</p>
    </div>
  </div>
  