<div class="container">
  <div class="imagecont">
    <img src="../../../assets/Logo/logo-green-white.png" alt="" />
  </div>
  <div class="rightcont">
    <div class="createaccount">
      <h1>Reset Password</h1>
      <p>Enter your new password</p>
      <form [formGroup]="restForm" action="">
        <div>
          <input formControlName="password" type="password" placeholder="Password" />
          <span *ngIf="restForm.hasError('required', 'password') && restForm.controls['password'].dirty" style="color: red;">*Password Required</span>
        </div>
        <div>
          <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" />
          <span *ngIf="restForm.hasError('required', 'confirmPassword') && restForm.controls['confirmPassword'].dirty" style="color: red;">*Confirm Password Required</span>
          <span *ngIf="restForm.hasError('confirmPasswordValidator', 'confirmPassword')" style="color: red;">
            *Passwords must match</span>

        </div>
        <button 
          [disabled]="restForm.invalid" 
          [class.disabled]="restForm.invalid"
          (click)="Rest()"
        >
          Login
        </button>
      </form>
      <a href="/forget-password" class="forget">Reset</a>
    </div>
  </div>
</div>
