<div class="cont">
  <div class="container">
    <div class="uptodate">
      <h1>STAY UP TO DATE ABOUT OUR LATEST OFFERS</h1>
      <div class="btns">
        <input type="text" placeholder="Enter your email address" />
        <button>Subscribe to Newsletter</button>
      </div>
    </div>
  </div>
</div>

<div class="footercontainer">
  <div class="botfooter">
    <div class="footerinfo">
      <!-- div 1 -->
      <div class="div1">
        <img class="logo" src="../../../assets/Logo/logo-green-blue.png" />
        <p>
          Discover top-tier PC gaming gear designed to elevate your experience.
        </p>
        <div class="social">
          <a routerLink="/"
            ><img class="soc" src="../../../assets/icons/logo-twitter.svg"
          /></a>
          <a routerLink="/"
            ><img class="soc" src="../../../assets/icons/logo-fb.svg"
          /></a>
          <a routerLink="/"
            ><img class="soc" src="../../../assets/icons/logo-instagram.svg"
          /></a>
        </div>
      </div>
      <!-- div 2 -->
      <div class="div2">
        <a routerLink="/">Account</a>
        <a routerLink="/">Return Policy</a>
        <a routerLink="/">Shipping Info</a>

        <a routerLink="/">About Us</a>
        <a routerLink="/">Contact Us</a>
        <a routerLink="/">Privacy Policy</a>
      </div>

      <!-- div 3 -->
      <div class="div3">
        <a routerLink="/">Desktops</a>
        <a routerLink="/">Keyboards</a>
        <a routerLink="/">Mouse</a>
        <a routerLink="/">Controller</a>
        <a routerLink="/">Monitors</a>
      </div>
      <!-- div 4 -->
      <div class="div4">
        <a routerLink="/">Laptops</a>
        <a routerLink="/">Headsets</a>
        <a routerLink="/">Microphones</a>
        <a routerLink="/">Components</a>
        <a routerLink="/">Other</a>
      </div>
    </div>
    <hr />
    <p class="rights">BuyMe © 2024, All Rights Reserved</p>
  </div>
</div>
