<div class="topHeader">
  <p>
    Summer Sale And Free Express Delivery -
    <strong style="color: #14b8a6">OFF 50%!</strong>
  </p>
</div>
<div class="cont">
  <div class="botcontainer">
    <div class="header">
      <img class="logo" src="../../../assets/Logo/logo-green-blue.png" />
      <div class="headerLinks">
        <a routerLink="/">Home</a>
        <a routerLink="/">Categories</a>
        <a routerLink="/">New products</a>
        <div class="search">
          <button class="searchbtn">
            <input type="text" placeholder="Search.." />
            <img src="../../../assets/icons/Search.svg" alt="Search" />
          </button>
        </div>
      </div>
      <div class="headerbtns">
        <img src="../../../assets/icons/Wishlist.svg" />
        <img src="../../../assets/icons/Cart.svg" />
        <img src="../../../assets/icons/user-black.svg" />
      </div>
    </div>
    <hr />
  </div>
</div>
