<div class="topHeader">
  <p>
    Summer Sale And Free Express Delivery -
    <strong style="color: #14b8a6">OFF 50%!</strong>
  </p>
</div>
<div class="cont">
  <div class="botcontainer">
    <div class="header">
      <img routerLink="/" class="logo" src="../../../assets/Logo/logo-green-blue.png" />
      <div class="headerLinks">
        <a routerLink="/">Home</a>
        <a routerLink="/categories">Categories</a>
        <a routerLink="/shop">Shop</a>

        <!-- Search -->
        <div class="search">
          <input #searchQuery type="text" placeholder="Search.." (keyup.enter)="fetchProducts(searchQuery.value)" />
          <!-- Add a search button -->
          <button class="search-button" (click)="fetchProducts(searchQuery.value)"><img src="../../../assets/icons/Search.svg" alt=""></button>
          
          <!-- Dropdown to show search results -->
          <div class="search-results" *ngIf="productDropdown">
            <ul class="search-results-list">
              <li class="search-results-item" *ngFor="let result of searchResults">
                <a [routerLink]="['/product', result._id]">{{ result.productName }}</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="headerbtns">

<a routerLink='/favourite'>
  <img 
    class="favourite" 
    *ngIf="isLoggedIn" 
    [src]="iconSrc" 
    (mouseover)="changeIcon(true)" 
    (mouseout)="changeIcon(false)" 
  />
</a>

        <div class="cart-container">
          <img src="../../../assets/icons/Cart.svg" />
          <span *ngIf="cartCount > 0" class="cart-count">{{ cartCount }}</span>
        </div>
        <div
          class="user-container"
          [ngClass]="{ 'user-clicked': isUserClicked }"
          (click)="toggleDropdown()"
        >
          <img src="../../../assets/icons/user-black.svg" class="user-icon" />
          <div class="dropdown-menu" [class.show]="showDropdown">
            <a *ngIf="!isLoggedIn" class="dropdown-item" routerLink="/login">
              <img src="../../../assets/icons/user.svg" alt="Account" />
              Login
            </a>
            <a *ngIf="!isLoggedIn" class="dropdown-item" routerLink="/register">
              <img src="../../../assets/icons/user.svg" alt="Account" />
              Register
            </a>
            <a *ngIf="isLoggedIn" class="dropdown-item" routerLink="/admin-dashboard">
              <img src="../../../assets/icons/user.svg" alt="Account" />
              Admin Dashboard
            </a>
            <a *ngIf="isLoggedIn" class="dropdown-item" routerLink="">
              <img src="../../../assets/icons/user.svg" alt="Account" />
              Manage My Account
            </a>
            <a *ngIf="isLoggedIn" class="dropdown-item" routerLink="/orders">
              <img src="../../../assets/icons/icon-mallbag.svg" alt="Orders" />
              My Orders
            </a>
            <a *ngIf="isLoggedIn" (click)="logOut()" class="dropdown-item" routerLink="/login">
              <img src="../../../assets/icons/Icon-logout.svg" alt="Logout" />
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
