.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
    margin: auto;
}

.title h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.error {
    margin-top: 20px;
}

.error p {
    font-size: 1.2em;
}

.error button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #40b9a5;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
}

.error button:hover {
    background-color: #e0e0e0;
    color: black;
}
