<div class="title">
    <h1>Contact Form</h1>
</div>

<div class="container">
    <form action="/action_page.php">
        <div class="form-group">
            <input type="text" id="name" name="name" placeholder="Your Name *">
        </div>
        <div class="form-group">
            <input type="email" id="email" name="email" placeholder="Your E-mail *">
        </div>
        <div class="form-group">
            <input type="text" id="phone" name="phone" placeholder="Your Phone *">
        </div>
  
        <textarea id="subject" name="subject" placeholder="Your Message.." style="height:200px"></textarea>
  
        <input type="submit" value="Send Message">
    </form>
</div>
