<div class="cont">
  <div class="chart-block">
    <div class="chart-summary">
      <div class="total-sales">
        <h3>Total Sales Amount</h3>
        <p>{{ calculateTotalSales() | currency }}</p>
      </div>
    </div>
    <div class="chart-container">
      <canvas baseChart 
              [data]="salesChartData"
              [options]="salesChartOptions"
              [type]="salesChartType">
      </canvas>
    </div>
  </div>
  
  <div class="chart-block">
    <div class="chart-summary">
      <div class="total-sales">
        <h3>Total Products Sold</h3>
        <p>{{ calculateTotalProducts() }}</p>
      </div>
    </div>
    <div class="chart-container">
      <canvas baseChart 
              [data]="productsChartData"
              [options]="productsChartOptions"
              [type]="productsChartType">
      </canvas>
    </div>
  </div>
</div>

