.chart-block {
  background-color: #f0f0f0; /* White background */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Soft shadow */
  margin: 20px;
  max-width: 800px;
  height: auto;
  margin-inline: auto;
}

.chart-container {
  margin-bottom: 20px;
}

.chart-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.total-sales {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 12px;
}

.total-sales h3 {
  font-size: 1.2rem;
  color: #111827;
}

.total-sales p {
  font-size: 2rem;
  font-weight: bold;
  color: #111827;
  margin-top: 5px;
}
