.text-center {
  color: var(--dark-blue, #111827);
  font-family: Sarabun;
  font-style: normal;
}
#cont {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  margin-inline: auto;
}

#col {
  max-width: 1440px;
  border-radius: 20px;
  margin: 20px 20px;
  margin-inline: auto;
}

#button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #40b9a5;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  width: 200px;
  margin-inline: auto;
}

#button:hover {
  background-color: #3cc9b1;
}

@media (min-width: 1280px),
  (min-width: 1024px),
  (min-width: 768px),
  (min-width: 640px),
  (min-width: 480px),
  (min-width: 360px),
  (min-width: 320px) {
  /* Reset or override specific styles */
  .container {
    max-width: none !important; /* Reset max-width */
  }
}
