<div class="about-section">
  <h1>About Us</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, magnam
    culpa!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
    praesentium nulla, sed delectus unde tempora commodi nisi, aspernatur est
    ratione quo nobis aperiam. Iusto repellat, commodi nisi itaque aliquid
    libero perspiciatis esse! Dolor odit debitis architecto numquam molestiae
    molestias eius soluta pariatur ipsam nemo! Assumenda inventore voluptatibus
    atque incidunt maxime?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis totam
    error accusamus ex libero consequatur accusantium sunt laborum perspiciatis
    nulla velit iusto sapiente, minima vitae nesciunt architecto explicabo,
    illum iste, quasi perferendis temporibus pariatur voluptate quidem?
    Laboriosam accusantium impedit laudantium voluptatum, cumque totam odio
    voluptate saepe exercitationem minima perferendis nihil rerum. Placeat natus
    fuga, laborum excepturi dolore ducimus aliquam quisquam?
  </p>
  <div class="container">
    <div class="image1">
      <div class="title">Industry:</div>
      <img src="../../../assets/razer.png" alt="" style="width: 100%" />
    </div>
    <div class="image2">
      <div class="title">Typesettings:</div>
      <img src="../../../assets/razer.png" alt="" style="width: 100%" />
    </div>
  </div>
</div>
