<div class="container">
  <div class="imagecont">
    <img src="../../../assets/Logo/logo-green-white.png" alt="" />
  </div>
  <div class="rightcont">
    <div class="createaccount">
      <h1>Create an account</h1>
      <p>Enter your details below</p>
      <input type="text" placeholder="*First Name" />
      <input type="text" placeholder="*Last Name" />
      <input type="text" placeholder="*Email" />
      <input type="text" placeholder="*Password" />
      <button>Create Account</button>
      <div class="login">
        <p>Already have account?</p>
        <a href="/login">Log in</a>
      </div>
    </div>
  </div>
</div>
