<div class="container">
    <div class="imagecont">
      <img src="../../../assets/Logo/logo-green-white.png" alt="" />
    </div>
    <div class="rightcont">
      <div class="createaccount">
        <h1>Forget Password</h1>
        <p>Enter uour email and we'll send you instructions
            on how to reset your password.
        </p>
        <form [formGroup]="resetForm" action="">
          <div>
            <input formControlName="email" type="text" placeholder="Email" />
            <span *ngIf="resetForm.hasError('required', 'email') && resetForm.controls['email'].dirty" style="color: red;">*Valid Email Required</span>
            <span *ngIf="resetForm.hasError('email', 'email')" style="color: red;">*Email is Invalid</span>
          </div>
          <button 
            [disabled]="resetForm.invalid" 
            [class.disabled]="resetForm.invalid"
            (click)="Submit()"
          >
          Submit
          </button>
          <button style="background: #c0c0c0;" href="/login" >Cancel</button>
        </form>

      </div>
    </div>
  </div>
  