<div class="bg-gray-100 min-h-screen">
  <div class="bg-white p-6 mx-auto max-w-7xl shadow-xl">
    <div class="grid grid-cols-3 gap-10">
      <div class="col-span-2">
        <div class="flex items-start justify-between">
          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
          <div class="ml-3 flex h-7 items-center">
            <button type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500" (click)="continueShopping()">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Close panel</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-8">
          <div class="flow-root">
            <ul role="list" class="-my-6 divide-y divide-gray-200">
              <li *ngFor="let product of products" class="flex py-6">
                <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                  <img *ngIf="product.productPicture && product.productPicture.length > 0" [src]="product.productPicture[0]" alt="{{ product.productName }}" class="h-full w-full object-cover object-center">
                </div>
                <div class="ml-4 flex flex-1 flex-col">
                  <div>
                    <div class="flex justify-between text-base font-medium text-gray-900">
                      <h3>
                        <a href="#">{{ product.productName }}</a>
                      </h3>
                      <p class="ml-4">${{ product.productPrice }}</p>
                    </div>
                    <p class="mt-1 text-sm text-gray-500">{{ product.productDescription }}</p>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm">
                    <p class="text-gray-500">Qty {{ product.quantity }}</p>
                    <div class="flex">
                      <button (click)="removeFromCart(product._id)" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-1 p-6 bg-gray-50 rounded-lg shadow-inner">
        <div class="border-t border-gray-200 py-6">
          <div class="flex justify-between text-base font-medium text-gray-900">
            <p>Subtotal</p>
            <p>${{ getTotalPrice() }}</p>
          </div>
          <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
          <div class="mt-6 flex justify-center">
            <button (click)="initiateCheckout()" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</button>
          </div>
          <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
            <p>
              or
              <button type="button" (click)="continueShopping()" class="font-medium text-indigo-600 hover:text-indigo-500">
                Continue Shopping
                <span aria-hidden="true"> &rarr;</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyCart>
  <p>Your cart is empty.</p>
</ng-template>
